 .category-button.mgs-cat-2 a {
     background: #008987
 }

 .category-button.mgs-cat-2 a:hover {
     background: #005755
 }

 .block-header.mgs-cat-2 {
     border-left: 2px solid #008987
 }

 .block-header.mgs-cat-2 .block-title {
     background: #008987
 }

 .block-header.mgs-cat-2,
 #content .block-header.mgs-cat-2 .block-title:after {
     border-bottom-color: #008987
 }

 #content .block-header.mgs-cat-2 {
     background-color: #005755
 }

 .rtl .block-header.mgs-cat-2 {
     border-left: none;
     border-right: 2px solid #008987
 }

 .archive .page-header.mgs-cat-2 {
     background-color: #008987;
     border-left: 4px solid #008987
 }

 .rtl.archive .page-header.mgs-cat-2 {
     border-left: none;
     border-right: 4px solid #008987
 }

 #site-navigation ul li.mgs-cat-2 {
     border-bottom-color: #008987
 }

 .category-button.mgs-cat-3 a {
     background: #008987
 }

 .category-button.mgs-cat-3 a:hover {
     background: #005755
 }

 .block-header.mgs-cat-3 {
     border-left: 2px solid #008987
 }

 .block-header.mgs-cat-3 .block-title {
     background: #008987
 }

 .block-header.mgs-cat-3,
 #content .block-header.mgs-cat-3 .block-title:after {
     border-bottom-color: #008987
 }

 #content .block-header.mgs-cat-3 {
     background-color: #005755
 }

 .rtl .block-header.mgs-cat-3 {
     border-left: none;
     border-right: 2px solid #008987
 }

 .archive .page-header.mgs-cat-3 {
     background-color: #008987;
     border-left: 4px solid #008987
 }

 .rtl.archive .page-header.mgs-cat-3 {
     border-left: none;
     border-right: 4px solid #008987
 }

 #site-navigation ul li.mgs-cat-3 {
     border-bottom-color: #008987
 }

 .category-button.mgs-cat-1 a {
     background: #008987
 }

 .category-button.mgs-cat-1 a:hover {
     background: #005755
 }

 .block-header.mgs-cat-1 {
     border-left: 2px solid #008987
 }

 .block-header.mgs-cat-1 .block-title {
     background: #008987
 }

 .block-header.mgs-cat-1,
 #content .block-header.mgs-cat-1 .block-title:after {
     border-bottom-color: #008987
 }

 #content .block-header.mgs-cat-1 {
     background-color: #005755
 }

 .rtl .block-header.mgs-cat-1 {
     border-left: none;
     border-right: 2px solid #008987
 }

 .archive .page-header.mgs-cat-1 {
     background-color: #008987;
     border-left: 4px solid #008987
 }

 .rtl.archive .page-header.mgs-cat-1 {
     border-left: none;
     border-right: 4px solid #008987
 }

 #site-navigation ul li.mgs-cat-1 {
     border-bottom-color: #008987
 }

 .navigation .nav-links a,
 .bttn,
 button,
 input[type='button'],
 input[type='reset'],
 input[type='submit'],
 .navigation .nav-links a:hover,
 .bttn:hover,
 button,
 input[type='button']:hover,
 input[type='reset']:hover,
 input[type='submit']:hover,
 .edit-link .post-edit-link,
 .reply .comment-reply-link,
 .home-icon,
 .search-main,
 .header-search-wrapper .search-form-main .search-submit,
 .mgs-slider-section .bx-controls a:hover,
 .widget_search .search-submit,
 .error404 .page-title,
 .archive.archive-classic .entry-title a:after,
 #mgs-scrollup,
 .widget_tag_cloud .tagcloud a:hover,
 .sub-toggle,
 #site-navigation ul>li:hover>.sub-toggle,
 #site-navigation ul>li.current-menu-item .sub-toggle,
 #site-navigation ul>li.current-menu-ancestor .sub-toggle {
     background: #008987
 }

 .breaking_news_wrap .bx-controls-direction a,
 .breaking_news_wrap .bx-controls-direction a:hover:before {
     color: #fff;
 }

 .navigation .nav-links a,
 .bttn,
 button,
 input[type='button'],
 input[type='reset'],
 input[type='submit'],
 .widget_search .search-submit,
 .widget_tag_cloud .tagcloud a:hover {
     border-color: #008987
 }

 .comment-list .comment-body,
 .header-search-wrapper .search-form-main {
     border-top-color: #008987
 }

 #site-navigation ul li,
 .header-search-wrapper .search-form-main:before {
     border-bottom-color: #008987
 }

 .archive .page-header,
 .block-header,
 .widget .widget-title-wrapper,
 .related-articles-wrapper .widget-title-wrapper {
     border-left-color: #008987
 }

 a,
 a:hover,
 a:focus,
 a:active,
 .entry-footer a:hover,
 .comment-author .fn .url:hover,
 #cancel-comment-reply-link,
 #cancel-comment-reply-link:before,
 .logged-in-as a,
 .top-menu ul li a:hover,
 #footer-navigation ul li a:hover,
 #site-navigation ul li a:hover,
 #site-navigation ul li.current-menu-item a,
 .mgs-slider-section .slide-title a:hover,
 .featured-post-wrapper .featured-title a:hover,
 .newspaper_lite_block_grid .post-title a:hover,
 .slider-meta-wrapper span:hover,
 .slider-meta-wrapper a:hover,
 .featured-meta-wrapper span:hover,
 .featured-meta-wrapper a:hover,
 .post-meta-wrapper>span:hover,
 .post-meta-wrapper span>a:hover,
 .grid-posts-block .post-title a:hover,
 .list-posts-block .single-post-wrapper .post-content-wrapper .post-title a:hover,
 .column-posts-block .single-post-wrapper.secondary-post .post-content-wrapper .post-title a:hover,
 .widget a:hover::before,
 .widget li:hover::before,
 .entry-title a:hover,
 .entry-meta span a:hover,
 .post-readmore a:hover,
 .archive-classic .entry-title a:hover,
 .archive-columns .entry-title a:hover,
 .related-posts-wrapper .post-title a:hover,
 .widget .widget-title a:hover,
 .related-articles-wrapper .related-title a:hover {
     color: #008987
 }

 #content .block-header,
 #content .widget .widget-title-wrapper,
 #content .related-articles-wrapper .widget-title-wrapper {
     background-color: #00a4a2;
 }

 .block-header .block-title,
 .widget .widget-title,
 .related-articles-wrapper .related-title {
     background-color: #008987;
 }

 .block-header,
 .widget .widget-title-wrapper,
 .related-articles-wrapper .widget-title-wrapper {
     border-left-color: #008987;
     border-bottom-color: #008987
 }

 #content .block-header .block-title:after,
 #content .widget .widget-title:after,
 #content .related-articles-wrapper .related-title:after {
     border-bottom-color: #008987;
     border-bottom-color: #008987
 }

 .archive .page-header {
     background-color: #00a4a2
 }

 #site-navigation ul li.current-menu-item a,
 .bx-default-pager .bx-pager-item a.active {
     border-color: #008987
 }

 .bottom-header-wrapper {
     border-color: #008987
 }

 .top-menu ul li,
 .newspaper-lite-ticker-wrapper~.top-header-section {
     border-color: #008987
 }

 .ticker-caption,
 .breaking_news_wrap.fade .bx-controls-direction a.bx-next:hover,
 .breaking_news_wrap.fade .bx-controls-direction a.bx-prev:hover {
     background-color: #008987
 }

 .ticker-content-wrapper .news-post a:hover,
 .newspaper-lite-carousel .item .carousel-content-wrapper a:hover {
     color: #008987
 }

 .newspaper-lite-carousel .item .carousel-content-wrapper h3 a:hover,
 body .newspaper-lite-carousel h3 a:hover,
 footer#colophon .newspaper-lite-carousel h3 a:hover,
 footer#colophon a:hover,
 .widget a:hover,
 .breaking_news_wrap .article-content.feature_image .post-title a:hover {
     color: #008987
 }

 .widget .owl-theme .owl-dots .owl-dot.active span {
     background: #008987
 }

 .rtl #content .block-header .block-title::after,
 .rtl #content .related-articles-wrapper .related-title::after,
 .rtl #content .widget .widget-title::after {
     border-right-color: #008987
 }

 #content .block-header,
 #content .related-articles-wrapper .widget-title-wrapper,
 #content .widget .widget-title-wrapper,
 #secondary .block-header,
 #secondary .widget .widget-title-wrapper,
 #secondary .related-articles-wrapper .widget-title-wrapper {
     background: none;
     background-color: transparent !important
 }

 #content .block-header .block-title:after,
 #content .related-articles-wrapper .related-title:after,
 #content .widget .widget-title:after {
     border: none
 }
.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}
body.custom-background {
    background-color: #ededed;
}
img.site-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.adminActions {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.adminButton {
    height: 40px;
    width: 40px;
    background-color: #008987;
    border-radius: 50%;
    display: block;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 6px;
}

.adminButton i {
    font-size: 22px;
}

.adminButtons {
    position: absolute;
    width: 100%;
    bottom: 120%;
    text-align: center;
}

.adminButtons a {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-decoration: none;
    margin: 10px auto 0;
    line-height: 1.15;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    position: relative;
    box-shadow: 0 0 5px 1px rgba(51, 51, 51, .3);
}

.adminButtons .label {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    padding-left: 12px;
    transform: translateX(100%);
    color: #008987;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 4px #008979;
}

.adminButtons a:hover {
    transform: scale(1.05);
}

.adminButtons a:nth-child(odd) {
    background-color: #ff5722;
    transition: opacity .2s ease-in-out .3s, transform .15s ease-in-out;
}

.adminButtons a:nth-child(even) {
    background-color: #4CAF50;
    transition: opacity .2s ease-in-out .25s, transform .15s ease-in-out;
}

/* .adminButtons a:nth-child(3) {
    background-color: #f44336;
    transition: opacity .2s ease-in-out .2s, transform .15s ease-in-out;
}

.adminButtons a:nth-child(4) {
    background-color: #4CAF50;
    transition: opacity .2s ease-in-out .15s, transform .15s ease-in-out;
} */

.adminActions a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.adminToggle {
    -webkit-appearance: none;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    transition: box-shadow .2s ease-in-out;
    box-shadow: 0 3px 5px 1px rgba(51, 51, 51, .3);
}

.adminToggle:hover {
    box-shadow: 0 3px 6px 2px rgba(51, 51, 51, .3);
}

.adminToggle:checked~.adminButtons a {
    opacity: 1;
    visibility: visible;
}